In [ ]:
#### How to combine multiple csv file from one particular folder.

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
folder_path = 'latest_odi_csv/'

In [4]:
data_frames = []

In [5]:
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'): #if the file is a CSV file
        file_path = folder_path + file_name
        df = pd.read_csv(file_path)
        data_frames.append(df)

In [6]:
combined_df = pd.concat(data_frames, ignore_index=True)

In [7]:
combined_df.to_csv("odi.csv", index=False)

In [8]:
combined_df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1000887,2016/17,2017-01-13,"Brisbane Cricket Ground, Woolloongabba",1,0.1,Australia,Pakistan,DA Warner,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000887,2016/17,2017-01-13,"Brisbane Cricket Ground, Woolloongabba",1,0.2,Australia,Pakistan,DA Warner,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000887,2016/17,2017-01-13,"Brisbane Cricket Ground, Woolloongabba",1,0.3,Australia,Pakistan,DA Warner,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000887,2016/17,2017-01-13,"Brisbane Cricket Ground, Woolloongabba",1,0.4,Australia,Pakistan,DA Warner,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000887,2016/17,2017-01-13,"Brisbane Cricket Ground, Woolloongabba",1,0.5,Australia,Pakistan,DA Warner,TM Head,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
combined_df.shape

(1209716, 22)